@model IEnumerable<ProbusTest.Models.Employee>

@{
    ViewData["Title"] = "Employees Index";
}

<h1>Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Salution)</th>
            <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
            <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>@Html.DisplayNameFor(model => model.Department)</th>
            <th>@Html.DisplayNameFor(model => model.Designation)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <th>@Html.DisplayNameFor(model => model.JoiningDate)</th>
            <th>@Html.DisplayNameFor(model => model.CompanyMobileNo)</th>
            <th>@Html.DisplayNameFor(model => model.MailId)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Salution)</td>
                <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.Department)</td>
                <td>@Html.DisplayFor(modelItem => item.Designation)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.JoiningDate)</td>
                <td>@Html.DisplayFor(modelItem => item.CompanyMobileNo)</td>
                <td>@Html.DisplayFor(modelItem => item.MailId)</td>
                <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
